{% extends 'confreg/base.html' %}
{% load staticfiles %}

{% block right_col_main %}



            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>{{sub_title}}</h2>


                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                        <div class="x_title">
                            <h2>People<small>({{ persons.count }})</small></h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div>
                                <a href="{% url 'registrant_details' %}"> Add a new person </a>
                            </div>
                            <table class="table table-hover">
                            <thead>
                                <tr>
                                {% for conference in conferences %}
                                <th>{{conference}}</th>
                                {% endfor %}
                                <th>Name</th>
                                </tr>
                            </thead>
                            <tbody>

                            {% for item in persons %}
                                <tr>
                                {% for conference in conferences %}
                                <th><a href="{% url 'registrant_history' %}{{item.person.id}}">Register</a></th>
                                {% endfor %}
                                <td>{{item.family_name}} {{item.given_name}}</td>
                                </tr>
                            {% endfor %}

                            </tbody>
                            </table>

                        </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>{{page_title}}</h2>


                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                  {% for conference in conferences %}
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                        <div class="x_title">
                            <h2>{{conference.name}}<small>({{ obj.count }})</small></h2>

                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <table class="table table-hover">
                            <thead>
                                <tr>
                                <th>Name</th>
                                </tr>
                            </thead>
                            <tbody>

                            {% for item in registrants %}
                                {% if item.conference.id == conference.id and item.person in persons  %}
                                <tr>
                                <td>{{item.person.family_name}} {{item.person.given_name}}</td>
                                </tr>
                                {% endif %}
                            {% endfor %}

                            </tbody>
                            </table>

                        </div>
                        </div>
                    </div>
                  {% endfor %}
                  </div>
                </div>
              </div>
            </div>

{% endblock %}
