{% extends 'confreg/base.html' %}
{% load staticfiles %}

{% block right_col_main %}

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Registrant details <small>{{sub_title}}</small></h2>

                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    <form id="form-with-details" action="{% url 'registrant_details_update' %}" method="post" class="form-horizontal form-label-left" novalidate>
                    {%csrf_token%}
                     
                      <span class="section">Conference</span>

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Select a conference</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <select id="conference" name="conference" class="select2_group form-control">
                            <optgroup label="Grouping">
                              {% for conference in conferences %}
                                <option value="{{conference.id}}">{{conference}}</option>
                              {% endfor %}
                            </optgroup>
                          </select>
                        </div>
                      </div>
                      <span class="section">Personal Info</span>

                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last_name">Family Name <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="last_name" name="family_name" value="{% if prepopulate_user %}{{request.user.last_name}}{% endif %}" class="form-control col-md-7 col-xs-12" data-validate-length-range="2" data-validate-words="1" placeholder="surname or last name, e.g. Chan" required="required" type="text">
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first_name">Given Name <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="first_name" name="given_name" value="{% if prepopulate_user %}{{request.user.first_name}}{% endif %}" class="form-control col-md-7 col-xs-12" data-validate-length-range="2" data-validate-words="1" placeholder="first name, e.g. Yue Han John"  type="text">
                        </div>
                      </div>

                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Email 
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="email" id="email" name="email" value="{% if prepopulate_user %}{{request.user.email}}{% endif %}" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>

                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="dob">Date of birth 
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="tel" id="date_of_birth" name="date_of_birth" data-validate-length-range="8,15" value="2014-11-06" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>

                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="zone">Zone 
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="zone" type="text" name="zone" value="{% if prepopulate_user %}{{userprofile.zone}}{% endif %}" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="district">District 
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="district" type="text" name="district" value="{% if prepopulate_user %}{{userprofile.district}}{% endif %}" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>

                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="telephone">Telephone 
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="tel" id="telephone" name="telephone" data-validate-length-range="8,15" value="{% if prepopulate_user %}{{userprofile.mobile_no}}{% endif %}" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>

                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="address">Address <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <textarea id="address" xrequired="required" name="address" class="form-control col-md-7 col-xs-12"></textarea>
                        </div>
                      </div>

                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="address">Allergies 
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <textarea id="allergies" name="allergies" class="form-control col-md-7 col-xs-12"></textarea>
                        </div>
                      </div>

                      <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-6 col-md-offset-3">
                          <button id="send" value="register" type="submit" class="btn btn-success">REGISTER</button>
                          <button id="send" value="register_another" type="submit" class="btn btn-info">Register and add another</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>

{% endblock %}

{% block scripts %}

    <!-- validator -->
    <script src="{% static 'vendors/validator/validator.js' %}"></script>

    <!-- validator -->
    <script>
      // initialize the validator function
      validator.message.date = 'not a real date';

      // validate a field on "blur" event, a 'select' on 'change' event & a '.reuired' classed multifield on 'keyup':
      $('form')
        .on('blur', 'input[required], input.optional, select.required', validator.checkField)
        .on('change', 'select.required', validator.checkField)
        .on('keypress', 'input[required][pattern]', validator.keypress);

      $('.multi.required').on('keyup blur', 'input', function() {
        validator.checkField.apply($(this).siblings().last()[0]);
      });

      $('form').submit(function(e) {
        e.preventDefault();
        var submit = true;

        // evaluate the form using generic validaing
        if (!validator.checkAll($(this))) {
          submit = false;
        }

        if (submit)
          this.submit();

        return false;
      });
    </script>
    <!-- /validator -->
{% endblock %}
